.DS_Store
.cache/
.env.local
.npmrc
/.svelte-kit
/build
/coverage
/cypress/downloads
/cypress/screenshots
/cypress/videos
/docs
/functions
/node_modules
/snapshots.js

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
