{
  "singleQuote": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 100,
  "tailwindConfig": "./tailwind.config.js",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app.css"
}
