{
	"singleQuote": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteBracketNewLine": false,
	"bracketSameLine": true,
	"useTabs": true,
	"trailingComma": "none",
	"printWidth": 100
}
