{
	"plugins": ["cypress", "mocha"],
	"extends": ["plugin:cypress/recommended", "plugin:mocha/recommended"],
	"rules": {
		"jest/expect-expect": "off",
		"mocha/no-mocha-arrows": "off"
	},
	"env": {
		"cypress/globals": true,
		"mocha": true
	}
}
