@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
	@apply lg:p-2 py-3 px-0 block border-b-2 border-transparent hover:border-white;
}

.btn {
	@apply bg-indigo-500 hover:bg-indigo-700 rounded px-4 shadow;
}
.action-btn {
	@apply rounded p-2 bg-indigo-400 shadow flex-auto text-white hover:bg-indigo-500;
}
