name: Deploy Live Editor
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Build & Deploy
        env:
          MERMAID_DOMAIN: 'mermaid.live'
          MERMAID_ANALYTICS_URL: 'https://p.mermaid.live'
        run: |
          export DEPLOY=true
          [ "$GITHUB_EVENT_NAME" != "pull_request" ] && rm -rf docs/_app/
          yarn install
          version=$(yarn version --patch --no-git-tag-version | grep "New version" | cut -d':' -f 2)
          yarn build
          yarn run lint
          cd ..

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          keep_files: true
