name: Update Monaco-editor
on:
  workflow_dispatch:
  pull_request:
    types: [opened]
    branches:
      - 'dependabot/npm_and_yarn/develop/monaco-editor-**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./bin/update-monaco
      - name: Commit changes
        uses: EndBug/add-and-commit@v8
        with:
          author_name: ${{ github.actor }}
          author_email: ${{ github.actor }}@users.noreply.github.com
          message: 'Update Monaco-editor'
