<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Online FlowChart &amp; Diagrams Editor - Mermaid Live Editor</title>
		<meta
			name="og:image"
			content="https://github.com/mermaid-js/mermaid/raw/develop/img/header.png"
		/>
		<link rel="canonical" href="https://mermaid-js.github.io/mermaid-live-editor/" />
		<meta
			name="description"
			content="Simplify documentation and avoid heavy tools. Open source Visio Alternative. Commonly used for explaining your code! Mermaid is a simple markdown-like script language for generating charts from text via javascript."
		/>
		<link rel="icon" type="image/png" href="/mermaid-live-editor/favicon.png" />
		<link rel="manifest" href="/mermaid-live-editor/manifest.json" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/mermaid@8.10.1/dist/mermaid.min.js"
			integrity="sha256-aQCGsx3/OLAXwNyOUrAedielIQAjIrMFkcWdXMlIkGc="
			crossorigin="anonymous"
		></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.min.css"
			integrity="sha512-RhnuJxgda82cBylRysVDqdpwnBcSkMzxz1+BxGwBPNMzBJlvaOjHz7P2kXELC0bdNxazsNSyJb7KAww0T5iUdQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script>
			var require = {
				paths: { vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs' }
			};
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/loader.min.js"
			integrity="sha512-+8+MX2hyUZxaUfMJT0ew+rPsrTGiTmCg8oksa6uVE/ZlR/g3SJtyozqcqDGkw/W785xYAvcx1LxXPP+ywD0SNw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.nls.min.js"
			integrity="sha512-3aAqsDS5ClTlwyzxufRhW9WMwZlYn3V8GLRl324pMIftp+CA6kvxfjlm8TG7Wi53eBcerEdX0YfXm3QLvf1Pqg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/editor/editor.main.js"
			integrity="sha512-sOJZBKiSvh/6vxIimdXkjO45Nd3v2n3ZYtrwktgj5SJh0+PCqNQ5oqzxEr6c/o4ULczn1Wo2yh1qrz+ghduDUA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		

		

		<link rel="modulepreload" href="/mermaid-live-editor/_app/start-83cfc0dd.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/vendor-d6e43078.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/singletons-bb9012b7.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/paths-45dac81d.js">
		<link rel="stylesheet" href="/mermaid-live-editor/_app/assets/start-0826e215.css">

		<script type="module">
			import { start } from "/mermaid-live-editor/_app/start-83cfc0dd.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/mermaid-live-editor","assets":"/mermaid-live-editor"},
				session: {},
				host: location.host,
				route: true,
				spa: true,
				trailing_slash: "ignore",
				hydrate: null
			});
		</script>
	</head>
	<body>
		<div id="svelte">

	
</div>
	</body>
</html>
