<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Online FlowChart &amp; Diagrams Editor - Mermaid Live Editor</title>
		<meta
			name="og:image"
			content="https://github.com/mermaid-js/mermaid/raw/develop/img/header.png"
		/>
		<link rel="canonical" href="https://mermaid.live" />
		<meta
			name="description"
			content="Simplify documentation and avoid heavy tools. Open source Visio Alternative. Commonly used for explaining your code! Mermaid is a simple markdown-like script language for generating charts from text via javascript."
		/>
		<link rel="icon" type="image/png" href="/mermaid-live-editor/favicon.png" />
		<link rel="manifest" href="/mermaid-live-editor/manifest.json" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.30.1/min/vs/editor/editor.main.min.css"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script>
			var require = {
				paths: { vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.30.1/min/vs' }
			};
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.30.1/min/vs/loader.min.js"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.30.1/min/vs/editor/editor.main.nls.min.js"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.30.1/min/vs/editor/editor.main.js"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		

		

		<link rel="modulepreload" href="/mermaid-live-editor/_app/start-4c73ab84.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/vendor-741f1c60.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/preload-helper-1db36302.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/singletons-12a22614.js">
		<link rel="modulepreload" href="/mermaid-live-editor/_app/chunks/paths-28a87002.js">
		<link rel="stylesheet" href="/mermaid-live-editor/_app/assets/start-464e9d0a.css">

		<script type="module">
			import { start } from "/mermaid-live-editor/_app/start-4c73ab84.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/mermaid-live-editor","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: true,
				trailing_slash: "ignore",
				hydrate: null
			});
		</script>
	</head>
	<body>
		<div id="svelte">

			
		</div>
	</body>
</html>
